@import '../../../styles/tokens';

.document-trays {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: calc(var(--z-index-fixed) + 10);
  pointer-events: none;
}

.trays-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 0;
  pointer-events: auto;
}
