<div class="live-feed">
  <app-panel-header title="LIVE FEED"></app-panel-header>
  <ng-container *ngIf="activities$ | async as activities; else loading">
    <div class="feed-filters">
      <app-filter-button
        *ngFor="let filter of activityTypes"
        [label]="getFilterLabel(filter)"
        [count]="getFilterCount(activities, filter)"
        [active]="(selectedFilter$ | async) === filter"
        (clicked)="setFilter(filter)"
      ></app-filter-button>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="feed-filters">
      <app-filter-button
        *ngFor="let filter of activityTypes"
        [label]="getFilterLabel(filter)"
        [count]="0"
        [active]="false"
        (clicked)="setFilter(filter)"
      ></app-filter-button>
    </div>
  </ng-template>
  <div class="activities-list">
    <app-activity-item
      *ngFor="let activity of filteredActivities$ | async"
      [activity]="activity"
    ></app-activity-item>
  </div>
</div>
